body{
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
fieldset{
    padding: 5vh;
    background-color: white;
}
.align-left{
    text-align: left;
}
.ufa{
    margin-top: 50vh;
}